body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

nav {
    background-color: royalblue;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.Me {
    text-align: center;
    padding: 50px 0;
    background-color: #007bff;
    color: white;
}

.Me h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.Me p {
    font-size: 1.2em;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: black;
}

h3{
    color: royalblue;
}

.intro p {
    line-height: 1.6;
}

.Interests ul {
    list-style-type: none;
    padding: 0;
}

.Interests li {
    margin-bottom: 8px;
}

.call-to-action p {
    margin-bottom: 10px;
}

.call-to-action ul {
    list-style-type: none;
    padding: 0;
}

.call-to-action li {
    display: inline;
    margin-right: 20px;
}

.call-to-action a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.call-to-action a:hover {
    color: #0056b3;
}

#contact form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

label {
    margin-bottom: 5px;
    color: #333;
}

input,
textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}